.instructors {
  position: relative;
  padding-bottom: 190px;

  @media (max-width: $mobile) {
    padding-bottom: 70px;
  }
  // .instructors__container

  &__container {
  }

  // .instructors__title

  &__title {
    margin-bottom: 78px;

    @media (max-width: $mobile) {
      margin-bottom: 44px;
    }
  }

  // .instructors__body

  &__body {
    //fix slider
    @media (min-width: $tablet) {
      overflow: unset !important;
    }
  }

  // .instructors__body-wrapper

  &__body-wrapper {



  }

  // .instructors__card

  &__card {

  }

  // .instructors__card-img

  &__card-img {

  }

  // .instructors__card-name

  &__card-name {

  }
}
.swiper-navigation-wrapper__instructors {
  position: absolute;
  top: -9px;
  right: rem(40);
}
