.instructors {
  position: relative;
  padding-bottom: 190px;

  @media (max-width: $mobile) {
    padding-bottom: 70px;
  }

  // .instructors__title

  &__title {
    margin-bottom: 78px;

    @media (max-width: $mobile) {
      margin-bottom: 44px;
    }
  }

  // .instructors__body

  &__body {
    //fix slider
    @media (min-width: $tablet) {
      overflow: unset !important;
    }
  }
}
.swiper-navigation-wrapper__instructors {
  position: absolute;
  top: -9px;
  right: rem(40);
  & .swiper-button {
    &:hover {
      & svg {
        display: none;
      }
    }
  }
}
