.main {
  // .main__container
  &__container {
    padding-top: 47px;
    padding-bottom: 37px;
  }

  // .main__body
  &__body {
    width: 50%;

    @media (max-width: $tablet) {
      width: 90%;
    }
  }
  // .main__desc

  &__desc {
    font-size: 18px;
    font-weight: 600;
    line-height: math.div(26, 18);
    margin-bottom: 36px;
  }
}

