.page-main {
}
.main {
  // .main__container
  &__container {
    padding-top: 47px;
    padding-bottom: 37px;
  }

  // .main__body
  &__body {
    width: 50%;

    @media (max-width: $tablet) {
      width: 90%;
    }
  }

  // .main__title

  &__title {
  }

  // .main__desc

  &__desc {
    font-size: 18px;
    font-weight: 600;
    line-height: math.div(26, 18);
    margin-bottom: 36px;
  }

  // .main__button

  &__button {
  }
}
.button {
  display: block;
  font-family: $fontFamilyThick;
  font-size: 14px;
  color: #fff;
  padding: 21px 26px 19px 26px;
  background: radial-gradient(#fbaf43, #f09513);
  border-radius: 15px;
  //   box-shadow: 0px 3px 0px 0px rgba(251, 175, 67, 1);
  transition: all 0.4s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 20px 29px -19px #000;
  }
  &:active {
    transform: scale(0.95) translateY(-9px);
  }
}
