.certificates {
  padding-bottom: 100px;
  // .certificates__container

  &__container {
  }

  // .certificates__title

  &__title {
    margin-bottom: 76px;
  }

  // .certificates__body

  &__body {
  }

  // .certificates__body-wrapper

  &__body-wrapper {
  }

  // .certificates__body-slide

  &__body-slide {
    object-fit: contain;
    height: 245px;

    transform: scale(0.9);
    transition: all 0.5s;

    &.swiper-slide-active {
      transform: scale(1);
      transition: all 0.5s;
    }
  }
}
.section-title {
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {
  // .swiper-pagination__certificates

  &__certificates {
    margin-top: 28px;
  }
}
