// Заголовки, общие БЄМ блоки и проче...

.section-title {
  @include adaptiveValue("font-size", 30, 20, 1239.98, 479.98, 1);
  font-family: $fontFamilyThick;
  font-weight: 500;
  line-height: math.div(40, 30);
  color: #1f7cb2;
}

.main-title {
  @include adaptiveValue("font-size", 42, 25, 1239.98, 479.98, 1);
  color: $mainColorTitle;
  font-family: $fontFamilyThick;
  line-height: math.div(56, 42);
  margin-bottom: 6px;
}

.circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 156px;
  background-image: url("@img/circle-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.swiper-navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.swiper-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff8a60;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;

  & svg {
    width: 60%;
  }
  // .swiper-button__instructors-prev

  &__instructors-prev {
  }

  // .swiper-button__instructors-next

  &__instructors-next {
  }
}
.swiper-button-prev {
}
.swiper-button-next {
  transform: rotate(180deg);
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  column-gap: 4px;
  margin-top: 10px;
}
.swiper-pagination-bullet {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $mainColor;
}
.swiper-pagination-bullet-active {
  background-color: #f09513;
}

.menu {
  font-family: $fontFamilyThick;

  // .menu__list

  &__list {
    display: flex;
    align-items: center;
    gap: 24px;
    text-align: center;
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
  }
}

.logo {
  display: flex;

  & img {
    width: 90px;
    height: 90px;

    @media (max-width: $mobileSmall) {
      width: 70px;
      height: 70px;
    }
  }
}

.button {
  cursor: pointer;
  display: block;
  font-family: $fontFamilyThick;
  font-size: 14px;
  color: #fff;
  padding: 21px 26px 19px 26px;
  background: radial-gradient(#fbaf43, #f09513);
  border-radius: 15px;
  //   box-shadow: 0px 3px 0px 0px rgba(251, 175, 67, 1);
  transform: scale(1);
  transition: all 0.2s ease;

  &:hover {
    // transform: translateY(-4px);
    // box-shadow: 0px 20px 29px -19px #000;
    transform: scale(1.01);
  }
  &:active {
    transform: scale(0.97);
    // transform: scale(0.95) translateY(-9px);
  }
}

.lg-backdrop.in {
  opacity: 0.7 !important;
}

// section "team"

.team-body {
  // .team-body__wrapper

  &__wrapper {
    display: flex;
    justify-content: center;
    column-gap: 72px;

    @media (max-width: $pc) {
      column-gap: 24px;
    }
    @media (max-width: $tablet) {
      justify-content: unset;
      column-gap: 0;
    }
    //fix slider
    @media (min-width: $tablet) {
      height: unset !important;
      width: unset !important;
      transform: unset !important;
      align-items: unset !important;
    }
  }

  // .team-body__slide

  &__slide {
    text-align: center;
    line-height: math.div(26, 20);
    display: flex;
    flex-direction: column;
    align-items: center;

    //fix slider
    @media (min-width: $tablet) {
      width: unset !important;
      flex-shrink: unset !important;
      margin-right: unset !important;
    }
  }

  // .team-body__img

  &__img {
    margin-bottom: 24px;
    img {
      @media (max-width: $mobile) {
        width: 180px;
        height: 180px;
      }

      @media (max-width: $mobileSmall) {
        width: 134px;
        height: 134px;
      }
    }
  }

  // .team-body__name

  &__name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;

    @media (max-width: $mobile) {
      font-size: 18px;
      font-weight: 600;
    }
  }

  // .team-body__speciality

  &__speciality {
    margin-top: auto;
  }
}
