//====================================================================================================
.footer {
  padding: 10px 0 20px 0;
  background-color: #fbcadb;
  color: #fff;
  @media (max-width: $mobile) {
    background-color: #00adb5;
  }
  // .footer__container

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  // .footer__body

  &__body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 30px;
    font-size: 20px;

    @media (max-width: $pc) {
      font-size: 18px;
    }
    @media (max-width: $tablet) {
      column-gap: 16px;
      font-size: 14px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 24px;
      margin-left: 50px;
      font-size: 18px;
    }
  }

  // .footer__logo

  &__logo {
    @media (max-width: $mobile) {
      display: none;
    }
  }

  // .footer__list

  &__list {
    @media (max-width: $tablet) {
      gap: 18px;
    }

    @media (max-width: $mobile) {
      text-align: left;
      align-items: unset;
      flex-direction: column;
    }
  }

  // .footer__politic

  &__politic {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0px auto 0px auto;
    @media (max-width: $mobile) {
      opacity: 0.5;
    }
  }
}

//====================================================================================================
