//====================================================================================================
.header {
  // .header__container

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    padding-top: 34px;
    font-family: $fontFamilyThick;

    @media (max-width: $pc) {
      gap: 12px;
      // font-size: 18px;
    }
    @media (max-width: $tablet) {
      position: unset;
      justify-content: space-around;
      padding-top: 14px;
      font-size: 18px;
    }

    @media (max-width: $mobileSmall) {
      justify-content: space-between;
      gap: 28px;
    }
  }

  // .header__menu

  &__menu {
    @media (max-width: $tablet) {
      position: absolute;
      transform: scale(0);
      transition: transform 0.3s ease 0s;
      top: 0;
      background-color: #fff;
      color: #5acfa3;
      font-size: 24px;
      width: 100%;
      height: 100%;
      padding: 140px 15px 30px 15px;
      z-index: 4;
    }
  }

  // .header__list

  &__list {
    @media (max-width: $pc) {
      gap: 15px;
    }

    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 36px;
    }
  }

  // .header__link

  &__link {
    transition: all 0.2s ease;

    &:hover {
      color: $mainColorHover;
      transition: all 0.2s ease;
    }
  }
}
.header-contacts {
  position: absolute;
  display: flex;
  align-items: flex-end;
  column-gap: 20px;
  top: 30px;
  right: 15px;

  @media (max-width: $tablet) {
    position: unset;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  @media (max-width: $mobileSmall) {
    display: none;
    margin-left: auto;
    gap: 20px;
  }
  // .header-contacts__phone

  &__phone {
    font-size: 28px;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    white-space: nowrap;
    transition: all 0.2s ease;

    &:hover {
      color: $mainColorHover;

      &::before {
        transform: scale(1.1);
        transition: all 0.2s ease;
      }
    }

    &::before {
      content: url("@img/phone.svg");
      width: 33px;
      height: 33px;
      transition: all 0.2s ease;
    }

    @media (max-width: $mobileSmall) {
      font-size: 0;
      gap: 0px;

      &::before {
        width: 27px;
      }
    }
  }

  // .header-contacts__messengers

  &__messengers {
    // position: absolute;
    width: 100%;
    display: flex;
    // flex-direction: column;
    align-items: flex-end;
    gap: 12px;

    @media (max-width: $tablet) {
      flex-direction: row;
      justify-content: space-evenly;
      position: relative;
      gap: 16px;
      margin-top: 0px;
      align-items: center;
    }
    @media (max-width: $mobile) {
      display: none;
    }
    @media (max-width: $mobileSmall) {
      gap: 20px;
    }
  }

  // .header-contacts__telegram

  &__telegram {
    display: inline-block;
    height: 33px;

    @media (max-width: $mobileSmall) {
      height: 27px;
    }

    & svg {
      fill: $mainColor;
      width: 33px;
      height: 33px;
      transition: all 0.2s;

      &:hover {
        fill: $mainColorHover;
        transition: all 0.2s;
      }

      @media (max-width: $mobileSmall) {
        width: 24px;
        height: 27px;
      }
    }
  }

  // .header-contacts__vk

  &__vk {
    display: inline-block;
    height: 33px;
    width: 33px;

    @media (max-width: $mobileSmall) {
      height: 27px;
    }

    & svg {
      fill: $mainColor;
      width: 38px;
      height: 38px;
      transition: all 0.2s;

      &:hover {
        fill: $mainColorHover;
        transition: all 0.2s;
      }
      @media (max-width: $mobileSmall) {
        width: 28px;
        height: 27px;
      }
    }
  }
  // .header-contacts__whatsapp
  &__whatsapp {
    display: inline-block;
    height: 38px;
    width: 38px;

    & svg {
      fill: $mainColor;
      width: 44px;
      height: 44px;
      transition: all 0.2s;
      &:hover {
        fill: $mainColorHover;
        transition: all 0.2s;
      }
    }
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(15);
    cursor: pointer;
    z-index: 5;

    transition: all 0.2s ease;

    &:hover {
      span,
      &::before,
      &::after {
        background-color: $mainColorHover;
        transition: all 0.2s ease;
      }
    }

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(3);
      background-color: #5acfa3;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(2));
        transform: rotate(45deg);
      }
    }
  }
}
.burger__menu {
  display: none;

  @media (max-width: $tablet) {
    display: block;
  }
}
.menu-open {
  // .header__menu
  & .header__menu {
    @media (max-width: $tablet) {
      transform: scale(1);
      transition: transform 0.3s ease 0s;
    }
  }
}
